
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
       background:white;
    
}

header {
    text-align: center;
    padding: 20px;
}

section1 {
    margin: 20px;
    
}

section {
    margin: 40px;
    display: inline-flex;
}


h1, h2 {
    color: #0056b3;
}

img {
    max-width: 50%;
    height: auto;
    
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
}

@media only screen and (max-width: 768px) {
    .gallery img {
        width: 150px;
    }
}

@media only screen and (max-width: 480px) {
    .gallery img {
        width: 100px;
    }
}